{namespace d=SFroemken\FalDropbox\ViewHelpers}

<f:if condition="{d:compatVersion(version: '7.6')}">
	<f:then>
		<f:be.container
			pageTitle="getAccessToken"
			enableClickMenu="false"
			loadJQuery="true"
			includeJsFiles="{0: '{f:uri.resource(path: \'JavaScript/main76.js\', extensionName: \'fal_dropbox\')}'}"
		>
			<f:render section="main" arguments="{_all}" />
		</f:be.container>
	</f:then>
	<f:else>
		<f:be.container
			pageTitle="getAccessToken"
			enableClickMenu="false"
			loadJQuery="true"
			includeCssFiles="{0: '{f:uri.resource(path: \'Css/bootstrap.min.css\', extensionName: \'fal_dropbox\')}'}"
			includeJsFiles="{0: '{f:uri.resource(path: \'JavaScript/bootstrap.min.js\', extensionName: \'fal_dropbox\')}', 1: '{f:uri.resource(path: \'JavaScript/main62.js\', extensionName: \'fal_dropbox\')}'}"
		>
			<f:render section="main" arguments="{_all}" />
		</f:be.container>
	</f:else>
</f:if>

<f:section name="main">
	<div class="container">
		<f:if condition="{errors}">
			<f:for each="{errors}" as="error">
				<div class="panel panel-danger">
					<div class="panel-heading">Error: {error.number}</div>
					<div class="panel-body">{error.message}</div>
				</div>
			</f:for>
		</f:if>

		<f:if condition="{getAuthCodeLink}">
			<f:then>
				<div class="panel panel-info">
					<div class="panel-heading">Authorize your Dropbox App</div>
					<div class="panel-body">
						<f:link.external target="_blank" uri="{getAuthCodeLink}">Authorization Link (opens in new tab)</f:link.external>
					</div>
				</div>

				<f:form method="POST" id="getAccessToken" addQueryString="1">
					<f:form.hidden id="parameters" name="parameters" value="{parameters}" />
					<div class="form-group">
						<label for="appKey">AppKey</label>
						<f:form.textfield class="form-control" id="appKey" value="{appKey}" />
					</div>
					<div class="form-group">
						<label for="appSecret">AppSecret</label>
						<f:form.textfield class="form-control" id="appSecret"  value="{appSecret}" />
					</div>
					<div class="form-group">
						<label for="authCode">AuthCode</label>
						<f:form.textfield class="form-control" id="authCode" placeholder="Type in the AuthCode from the link above" />
					</div>
					<f:form.submit class="btn btn-default" value="Get AccessToken" />
				</f:form>

			</f:then>
			<f:else>

				<f:form method="POST" addQueryString="1">
					<f:form.hidden id="parameters" name="parameters" value="{parameters}" />
					<div class="form-group">
						<label for="appKey">AppKey</label>
						<f:form.textfield name="dropbox[appKey]" class="form-control" id="appKey" placeholder="App Key" />
					</div>
					<div class="form-group">
						<label for="appSecret">AppSecret</label>
						<f:form.textfield name="dropbox[appSecret]" class="form-control" id="appSecret" placeholder="App Secret" />
					</div>
					<f:form.submit class="btn btn-default" value="Get AuthCode Link" />
				</f:form>

			</f:else>
		</f:if>
	</div>
</f:section>