<f:be.container pageTitle="getAccessToken">
	<f:render section="main" arguments="{_all}" />
</f:be.container>

<f:section name="main">
	<div class="container">
		<f:if condition="{getAuthCodeLink}">
			<f:then>
				<div class="panel panel-info">
					<div class="panel-heading">Authorize your Dropbox App</div>
					<div class="panel-body">
						<f:link.external target="_blank" uri="{getAuthCodeLink}">Authorization Link (opens in new tab)</f:link.external>
					</div>
				</div>

				<f:form actionUri="{formUri}" id="getAccessToken" method="POST">
					<f:form.hidden id="parameters" name="parameters" value="{parameters}" />
					<div class="form-group">
						<label for="appKey">AppKey</label>
						<f:form.textfield class="form-control" id="appKey" value="{appKey}" />
					</div>
					<div class="form-group">
						<label for="appSecret">AppSecret</label>
						<f:form.textfield class="form-control" id="appSecret"  value="{appSecret}" />
					</div>
					<div class="form-group">
						<label for="authCode">AuthCode</label>
						<f:form.textfield class="form-control" id="authCode" placeholder="Type in the AuthCode from the link above" />
					</div>
					<f:form.submit class="btn btn-default" value="Get AccessToken" />
				</f:form>
			</f:then>
			<f:else>
				<f:form actionUri="{formUri}" class="getAuthCodeLinkForm" method="POST">
					<f:form.hidden id="parameters" name="parameters" value="{parameters}" />
					<div class="form-group">
						<label for="appKey">AppKey</label>
						<f:form.textfield name="dropbox[appKey]" class="form-control" id="appKey" placeholder="App Key" />
					</div>
					<div class="form-group">
						<label for="appSecret">AppSecret</label>
						<f:form.textfield name="dropbox[appSecret]" class="form-control" id="appSecret" placeholder="App Secret" />
					</div>
					<f:form.submit class="btn btn-default" value="Get AuthCode Link" />
				</f:form>
			</f:else>
		</f:if>
	</div>
</f:section>
