# Information about Settings.cfg:
#   https://docs.typo3.org/m/typo3/docs-how-to-document/main/en-us/GeneralConventions/DirectoryFilenames.html#settings-cfg

[general]

project     = Dropbox FAL Driver
release     = 4.2.3
copyright   = by Stefan Froemken

[html_theme_options]

github_branch        = master
github_repository    = froemken/dropbox

project_contact      = froemken@gmail.com
project_home         = https://extensions.typo3.org/extension/dropbox
project_issues       = https://github.com/froemken/dropbox/issues
project_repository   = https://github.com/froemken/dropbox/issues
project_discussions  =

[intersphinx_mapping]

# h2document    = https://docs.typo3.org/m/typo3/docs-how-to-document/main/en-us/
# t3coreapi     = https://docs.typo3.org/m/typo3/reference-coreapi/main/en-us/
# t3editors     = https://docs.typo3.org/m/typo3/tutorial-editors/main/en-us/
# t3extbasebook = https://docs.typo3.org/m/typo3/book-extbasefluid/main/en-us/Index.html
t3install     = https://docs.typo3.org/m/typo3/guide-installation/main/en-us/
# t3l10n        = https://docs.typo3.org/m/typo3/guide-frontendlocalization/main/en-us/
# t3start       = https://docs.typo3.org/m/typo3/tutorial-getting-started/main/en-us/
# t3sitepackage = https://docs.typo3.org/m/typo3/tutorial-sitepackage/main/en-us/
# t3tca         = https://docs.typo3.org/m/typo3/reference-tca/main/en-us/
# t3templating  = https://docs.typo3.org/m/typo3/tutorial-templating-with-fluid/main/en-us/
# t3ts45        = https://docs.typo3.org/m/typo3/tutorial-typoscript-in-45-minutes/main/en-us/
# t3tsconfig    = https://docs.typo3.org/m/typo3/reference-tsconfig/main/en-us/
t3tsref       = https://docs.typo3.org/m/typo3/reference-typoscript/main/en-us/
# t3viewhelper  = https://docs.typo3.org/other/typo3/view-helper-reference/main/en-us/
